:root {
    --dark-green: #264653;
    --dark-blue: #005AE0;
    --cyan: #33C3E4;
    --orange: #FFA10A;
    --hot-orange: #FFA10A;
    --red: #F50062;
    --purple: #53175E;
    --teal: #0AD88E;
}

*{
    margin: 0;
}

@font-face {
    src: url(../polices/Billy_2.0.ttf) format("truetype");
    font-family: "Billy";
}

@font-face {
    src: url(../polices/LemonJuice.otf) format("opentype");
    font-family: "LemonJuice";
}

body {
    overflow-x: hidden;
}

p {
    font-family: "Billy";
}

h1 {
    font-family: "LemonJuice";
    text-align: end;
    padding-top: 5vw;
    padding-right: 6vw;
    font-size: 10vw;
    color: white;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.description {
    position: absolute;
    font-size: 15px;
    color: white;
    left: 50vw;
    text-align: right;
    padding: 2rem;
    bottom: 0;
}

.scroll-down {
    position: absolute;
    width: 10vw;
    right: 25vw;
    top: 45vh;
}

section {
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 1px solid red;
}

#chapitre-1 {
    background-image: url(../img/img_arriere_plan/background-eau.jpg);
}

#chapitre-2 {
    background-image: url(../img/img_arriere_plan/background-eau.jpg);
}

#chapitre-3 {
    background-image: url(../img/img_arriere_plan/background-eau.jpg);
}

#chapitre-4 {
    background-image: url(../img/img_arriere_plan/background-eau.jpg);
}

#chapitre-5 {
    background-image: url(../img/img_arriere_plan/background-eau.jpg);
}

#chapitre-6 {
    background-image: url(../img/img_arriere_plan/background-grotte.png);
}

#chapitre-7 {
    background-image: url(../img/img_arriere_plan/background-espace.jpg);
}

.sprite-body {
    height: 1000vh;
}

.algues, .algues2, .algues3, .algues4 {
    background-image: url(../img/img_elements_visuels/spritesheet_algues.png);
    height: 30vw;
    aspect-ratio: 1/1;
    animation-name: algue;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(61);
  animation-play-state: paused;
  background-size: 6100%;
  position: absolute;
  bottom: 0vh;
}

@keyframes algue {
    from { background-position: 0 0; }
    to { background-position: -6100% 0; }} 

.is-scrolling .algues, .is-scrolling .algues2, .is-scrolling .algues3, .is-scrolling .algues4 { 
    animation-play-state: running;
}

.algues2 {
    left: 20vw;
}

.algues3 {
    left: 50vw;
}

.algues4 {
    left: 70vw;
}


.neptune {  
    position: absolute;
    right: 5vw;
    background-image: url(../img/img_elements_visuels/spritesheet_neptune.png);
    height: 30vw;
    aspect-ratio: 1/1;
    animation-name: planet;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(72);
  animation-play-state: paused;
  background-size: 7200%;

}

.is-scrolling .neptune { 
    animation-play-state: running;
}

@keyframes planet {
    from { background-position: 0 0; }
    to { background-position: -7200% 0; }} 

.sable {
    position: absolute;
    bottom: 0;
    width: 100vw;
}


/* ----- Chapitre 1 ----- */

.billy1 {
    position: absolute;
    height: 80vh;
    right: 20vw;
}

#chapitre-1 .poisson-corps, #chapitre-1 .poisson-queue {
    position: absolute;
    height: 30vh;
    transform: scaleX(-1);
    right: 20vw;
    top: 5vh;
}

.poisson-corps1, .poisson-queue1 {
    position: absolute;
    height: 30vh;
    transform: scaleX(-1);
    right: 10vw;
    top: 20vh
}

.poisson-corps2, .poisson-queue2 {
    position: absolute;
    height: 30vh;
    transform: scaleX(-1);
    right: 0vw;
}

.poisson-corps3, .poisson-queue3 {
    position: absolute;
    height: 30vh;
    transform: scaleX(-1);
    right: 25vw;
    top: 30vh
}

.p1 {
    position: absolute;
    text-align: center;
    font-size: 4vh;
    left: 5vw;
    top: 25vh;
}

/* ----- Chapitre 2 ----- */

.billyroche {
    position: absolute;
    height: 100vh;
    bottom: -14vh;
    right: 10vw;
}

.bulles1 {
    position: absolute;
    height: 10vw;
    right: 40vw;
    bottom: 60vh;
}

.coffre_haut {
    position: absolute;
    height: 15vh;
    bottom: 35vh;
    left: 15vw;
}


.medaillon {
    position: absolute;
    height: 10vh;
    left: 22vw;
    bottom: 26vh;
}

.coffre_base {
    position: absolute;
    height: 17vh;
    bottom: 10vh;
    left: 15vw;
}

.p2 {
    position: absolute;
    text-align: center;
    font-size: 4vh;
    left: 50vw;
    top: 5vh;
    width: 100vw;
    transform: translateX(-50%);
}

/* ----- Chapitre 3 ----- */

.billyroche2 {
    position: absolute;
    height: 200vh;
    right: 7vw;
    top: -20vh;
}

#chapitre-3 .medaillon {
    left: 17vw;
    bottom: 25vh;
    height: 15vh;
}

.lola1 {
    position: absolute;
    height: 170vh;
    top: -35vh;
    opacity: 100%;
}

.bulles2 {
    position: absolute;
    height: 20vw;
    left: 0vw;
    bottom: 60vh;
}

.p3 {
    position: absolute;
    text-align: right;
    font-size: 4vh;
    right: 5vw;
    top: 5vh;
    width: 40vw;
}

/* ----- Chapitre 4 ----- */

.billynage {
    position: absolute;
    height: 80vh;
    top: 20vh;
    right: 0;
}

.lolanage {
    position: absolute;
    height: 80vh;
    top: 10vh;
    right: 7vw;
}

.poisson-groupe {
    position: absolute;
    height: 120vh;
    top: 50%; 
    transform: translateY(-50%);
    right: 0;
    opacity: 50%;
}

.p4 {
    position: absolute;
    text-align: center;
    font-size: 4vh;
    left: 5vw;
    top: 50vh;
    transform: translateY(-50%);
    width: 40vw;
    color: white;
}

/* ----- Chapitre 5 ----- */

.alguesavant {
    position: absolute;
    height: 140vh;
    left: -15vw;
}

.alguesarriere {
    position: absolute;
    height: 120vh;
    left: 2vw;
}

.grotte {
    position: absolute;
    height: 100vh;
    left: 5vw;
    bottom: -20vh;
}

.meduses {
    position: absolute;
    height: 155vh;
}

.p5 {
    position: absolute;
    text-align: left;
    font-size: 4vh;
    bottom: 25vh;
    width: 30vw;
    left: 50vw;
    transform: translateX(-50%);
    color: white;
}

/* ----- Chapitre 6 ----- */

.billy2 {
    position: absolute;
    height: 100vh;
    left: 5vw;
    top: 5vh;
}

.lola2 {
    position: absolute;
    height: 100vh;
}

#chapitre-6 .medaillon {
    left: 40vw;
}

.poisson-blue-corps, .poisson-blue-queue{
    position: absolute;
    height: 60vh;
    right: 15vw;
    bottom: 0;
}

.billymains {
    position: absolute;
    height: 100vh;
}

.medaillon2 {
    position: absolute;
    height: 100vh;
    left: 22vw;
    bottom: 0vh;
}

.poisson-blue-corps2, .poisson-blue-queue2{
    position: absolute;
    height: 100vh;
    right: 0vw;
    bottom: -10vh;
    rotate: -40deg;
}

.p6-1 {
    position: absolute;
    text-align: center;
    font-size: 4vh;
    top: 5vh;
    width: 40vw;
    left: 40vw;
    color: white;
}

.p6-2 {
    position: absolute;
    text-align: center;
    font-size: 4vh;
    top: 5vh;
    width: 40vw;
    left: 40vw;
    color: white;
}

/* ----- Chapitre 7 ------ */

#chapitre-7 .lola1 {
    height: 60vh;
    top: 0;
    right: 15vw;
}

#chapitre-7 .billy2 {
    height: 70vh;
    top: -5vh;
    left: 10vw;
}

#chapitre-7 .poisson-blue-corps, #chapitre-7 .poisson-blue-queue {
    top: 20vh;
    height: 30vh;
    left: 45vw;
    rotate: -70deg;
}

.planete {
    position: absolute;
}

.saturne {
    height: 50vh;
    left: 10vw;
    top: 20vh;
}

.mercure {
    height: 60vh;
    right: 25vw;
    top: 30vh;
}

.soleil {
    height: 60vh;
    left: 20vw;
    bottom: 0;
}

.nuage {
    position: absolute;
    height: 10vh;
}

.n1 {
    right: 6vw;
    top: 15vh;
    height: 30vh;
}

.n2 {
    left: 9vw;
    top: 32vh;
    height: 20vh;
}

.n3 {
    height: 30vh;
    bottom: 12vh;
    left: 24vw;
}

.n4 {
    height: 23vh;
    right: 25vw;
    bottom: 28vh;
}

.line {
    position: absolute;
    height: 15vh;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
}

.bi-star-fill {
    color: white;
    position: absolute;
    top: 20vh;
    left: 45vw;
    transform: translateX(-50%);
    height: 5vh;
    width: 5vh;
    rotate: -20deg;
}

.p7-1 {
    position: absolute;
    text-align: center;
    font-size: 4vh;
    top: 5vh;
    width: 30vw;
    left: 3vw;
    color: white;
}

.p7-2 {
    position: absolute;
    text-align: center;
    font-size: 4vh;
    bottom: 5vh;
    width: 30vw;
    right: 3vw;
    color: white;
}